$mobile: "only screen and (max-width: 529px)";
$tablet: "only screen and (max-width: 949px) and (min-width: 530px)";
$desktop: "only screen and (min-width: 950px)";
$desktop-large: "only screen and (min-width: 1600px)";
$desktop-small: "only screen and (max-width: 1599px) and (min-width: 950px)";