<tr>
  <td>
    <%= report.to_date.strftime('%Y-%m-%d') %> - <%= report.from_date.strftime('%Y-%m-%d') %>
  </td>
  <td>
    <%= report.average_speed %> KM/H
  </td>
  <td>
    <%= report.distance %> KM
  </td>
</tr>